.container {
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: 100px;
}
.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(3, max-content);
}

.gridElement {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: xx-large;
}
